
.footer{
    font-size: small;
    font-weight: lighter;
    background-color: #6e6d69cc;
    text-align: center;
    padding:1px;
    color: #FFFFFF;
}
.footer a{
    /* text-decoration: none;  */
    color:#FFFFFF
}

.select-type, .select-priority {
    width: 200px;
}
ul {
  list-style-type: decimal;
}

img{
    width: 50%;
}

.header h1{
    text-align: center;
}

#first_menu a{
    text-decoration: none;
}

